:root{
    scrollbar-color: #40ACF1 #042850;
    scrollbar-width: thin !important;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background-color: #042850;
}
::-webkit-scrollbar-thumb{
    background-color: #40ACF1;
    border-radius: 20px;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #292F36;
    overflow-x: hidden;
}

.one{ background: url('img/1.jfif') no-repeat fixed center; }
.two{ background: url('img/2.jfif') no-repeat fixed center; }
.three{ background: url('img/3.jfif') no-repeat fixed center; }
.four{ background: url('img/4.jfif') no-repeat fixed center; }
.five{ background: url('img/5.jfif') no-repeat fixed center; }
.six{ background: url('img/6.jfif') no-repeat fixed center; }
.seven{ background: url('img/7.jfif') no-repeat fixed center; }
.eight{ background: url('img/8.jfif') no-repeat fixed center; }
.one, .two, .three, .four, .five, .six, .seven, .eight{
    height: 100vh;
    background-size: contain;
}